$title: 'Metamorphous', cursive;
$paragraph: 'Della Respira', serif;

* {
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	background: #000;
	color: white;
	font-family: $paragraph;
}

section {
	position: relative;
	width: 100%;
	text-align: center;
	overflow: hidden;
	article {
		position: relative;
		display: inline-block;
		max-width: 1250px;
		h2, p {
			margin: 30px;
			margin-bottom: 0;
			text-align: center;
		}
		h2 {
			background: #4d1f94;
			background: -webkit-linear-gradient(#a200ff, #a700c0);
		 	-webkit-background-clip: text;
		 	-webkit-text-fill-color: transparent;
			font-family: $title;
			font-size: 2.2em;
			letter-spacing: -.05em;
		}
		p {
			font-size: 1.1em;
			line-height: 1.55em;
		}
		aside {
			float: right;
			width: 100%;
			text-align: left;
		}
	}
}

.board {
	background: url('../img/board.jpg') center top / cover no-repeat;
	height: 1000px;
	width: 100%;
	article {
		height: 100%;
		width: 100%;
		max-width: 100%;
	}
	h1 {
		display: none;
	}
	figure {
		position: absolute;
		top: 0;
		left: 0;
	}
	.vr {
		position: absolute;
		top: 0;
		left: 50%;
		width: 150px;
		height: 150px;
		margin: 0 0 0 -75px;
		z-index: 2;
	}

	.virtualboard {
		width: 100%;
		height: 100%;
		&:before {
			content: '';
			background: url('../img/virtualboard.png') center top / cover no-repeat;
			position: absolute;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: top .5s, opacity 2s;
		}
		img {
			position: relative;
			display: none;
			top: -100%;
			height: 100%;
			transition: top .5s;
		}
	}

	.active {
		&:before {
			top: 0;
			transition: opacity .3s;
			opacity: 1;
		}
		img {
			top: 0;
			transition: top .5s;
		}
	}

}

.fate {
	&:before {
		content: '';
		background: rgba(0, 0, 0, .6);
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 500%;
	}
	article {
		margin: 0;
	}
	img {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 420px;
		z-index: -1;
	}
	.justice {
		top: 0;
		opacity: .2;
	}
	.death {
		top: 250px;
		left: -10px;
		opacity: .4;
	}
}

.querent {
	height: 1050px;
	video {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	h2 {
		margin-top: 3em;
	}
	p {
		text-shadow: 1px 1px 1px #000;
	}
	aside {
		float: left;
	}
}

.details {
	background: #fff;
	height: 800px;
	padding: 50px 0 0 0;
	img {
		position: absolute;
		top: 50%;
		left: -300px;
		margin-top: -342px;

		opacity: .4;
		z-index: 1;
	}
	article {
		color: #000;
	}
}

@media only screen and (min-width: 800px) {
	section {
		article {
			h2, p {
				text-align: left;
			}		
			h2 {
				font-size: 2.5em;
				letter-spacing: -.05em;
			}
			p {
				font-size: 1.2em;
				line-height: 1.8em;
			}
			aside {
				width: 50%;
			}
		}
	}

	.board {
		.vr {
			display: none;
		}

		.virtualboard {
			img {
				display: inline-block;
			}
		}

		.active {
			&:before {
				transition-delay: .5s;
			}
			img {

			}
		}
	}

	.fate {
		margin: 80px 0;
		.justice {
			left: 60px;
			opacity: 1;
		}
		.death {
			top: 90px;
			left: 20px;
			opacity: 1;
		}
	}

	.details {
		height: 600px;
		img {
			opacity: 1;
		}
	}
}